header h1 {
    text-align: center;
}

.card {
    max-width: 200px;
    min-width: 200px;
    border-radius: 5px;
    padding: 10px;
}

.card img {
    width: 100%;
    margin: auto;
    border-radius: 5px 5px 0 0;
}

@media only screen and (max-width: 1200px) {
    .row {
        grid-template-columns: repeat(4, auto) !important;
    }
}
@media only screen and (max-width: 800px) {
    .row {
        grid-template-columns: repeat(3, auto) !important;
    }
}
@media only screen and (max-width: 600px) {
    .row {
        grid-template-columns: repeat(2, auto) !important;
    }
}
